
MYSQL_DATABASE=aps
MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_HOST=localhost
MYSQL_PORT=3306

# REDIS_URL="redis://localhost:6379/0"

MQTT_BROKER="152.42.179.228"
MQTT_PORT=1885
MQTT_TOPIC="aps/fire/data"
MQTT_USER="apsIoT"
MQTT_PASS="apsIoT25"

CSRF_TRUSTED_ORIGINS=https://26402f5f9278.ngrok-free.app

# --- shurjoPay Plugin configuration ---
# Obtain sandbox/production credentials from shurjoPay
SP_USERNAME=demo
SP_PASSWORD=demowb4&n$6un28$
SP_ENDPOINT=https://dev.engine.shurjopayment.com
SP_RETURN=http://localhost:8000/shurjopay/return/
SP_CANCEL=http://localhost:8000/shurjopay/cancel/
SP_PREFIX=SP_PLUGIN_PYTHON
# If blank, logs go to default logger; otherwise a file path will be created if missing
SP_LOGDIR=