
MYSQL_DATABASE=aps
MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_HOST=localhost
MYSQL_PORT=3306

# REDIS_URL="redis://localhost:6379/0"

MQTT_BROKER="152.42.179.228"
MQTT_PORT=1885
MQTT_TOPIC="aps/fire/data"
MQTT_USER="apsIoT"
MQTT_PASS="apsIoT25"

