APP_NAME="apS Fire Backend"
ENV="dev"
DEBUG=true
HOST="0.0.0.0"
PORT=8000

# Security
JWT_SECRET="please-change-me"
JWT_ALG="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

# MySQL 8 URL
DATABASE_URL="mysql+pymysql://root:password@localhost:3306/aps"

# Redis (optional)
# REDIS_URL="redis://localhost:6379/0"

# MQTT
MQTT_BROKER="152.42.179.228"
MQTT_PORT=1885
MQTT_TOPIC="aps/fire/data"
MQTT_USER="apsIoT"
MQTT_PASS="apsIoT25"

# Map defaults
MAP_BASE_LAT=23.777628
MAP_BASE_LON=90.405449
MAP_JITTER=0.01
