Django==5.1.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
channels==4.1.0
daphne==4.1.2
channels-redis==4.2.0
paho-mqtt==2.1.0
python-dotenv==1.0.1
PyMySQL==1.1.1
drf-spectacular==0.27.2
drf-spectacular-sidecar==2024.7.1
shurjopay-plugin==0.1.8
firebase-admin==6.5.0
pdfplumber==0.11.7
bijoy2unicode==0.1.1
bangla==0.0.5
celery[redis]==5.3.6
requests==2.32.3
pymongo==4.6.1
dnspython==2.4.2
reportlab>=4.0.0