<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="csrf-token" content="VEJFFkPYh1n13yjkLbWIaUhC718uXB9nGolDeBO3" />
        <link rel="icon" type="image/png" href="https://ric.pranisheba.com.bd/assets/authentication/img/favicon.png" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://ric.pranisheba.com.bd/assets/authentication/css/bootstrap.min.css" />

        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="https://ric.pranisheba.com.bd/assets/authentication/css/all.min.css" />
        <link rel="stylesheet" href="https://ric.pranisheba.com.bd/assets/authentication/css/uf-style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

        <title>apS Fire Alarm Login</title>
    </head>

    <body>
        <div class="uf-form-signin">
            <div class="text-center">
                <a href="https://ric.pranisheba.com.bd"><img src="static/apSLogo.png" alt="" width="100" height="100" style="background: white; border-radius: 50%; padding: 5px;" /></a>
                <h1 class="text-white h3">Account Login</h1>
            </div>

            <form class="mt-4" method="POST" action="/login/">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next|default:'/' }}" />
                {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
                <div class="input-group uf-input-group input-group-lg mb-3">
                    <span class="input-group-text fa fa-user"></span>
                    <input type="email" name="email" required class="form-control" placeholder="Email address" value="{{ email|default:'' }}" />
                </div>

                <div class="input-group uf-input-group input-group-lg mb-3">
                    <span class="input-group-text fa fa-lock"></span>
                    <input type="password" name="password" required class="form-control" placeholder="Password" />
                </div>

                <div class="d-flex mb-3 justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input uf-form-check-input" id="exampleCheck1" />
                        <label class="form-check-label text-white" for="exampleCheck1">Remember Me</label>
                    </div>
                    <a href="#">Forgot password?</a>
                </div>

                <div class="d-grid mb-4">
                    <button type="submit" class="btn uf-btn-primary btn-lg">
                        Login
                        <span class="border-top"></span>
                        <span class="border-right"></span>
                        <span class="border-bottom"></span>
                        <span class="border-left"></span>
                    </button>
                </div>
            </form>
        </div>

        <!-- JavaScript -->
        <script src="https://ric.pranisheba.com.bd/assets/authentication/js/popper.min.js"></script>
        <script src="https://ric.pranisheba.com.bd/assets/authentication/js/bootstrap.min.js"></script>
    </body>

    <!--  <div class="d-flex mb-3">
                                <div class="dropdown-divider m-auto w-25"></div>
                                <small class="text-nowrap text-white">Or login with</small>
                                <div class="dropdown-divider m-auto w-25"></div>
                        </div>

                        <div class="uf-social-login d-flex justify-content-center">
                                <a href="#" class="uf-social-ic" title="Login with Facebook"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="uf-social-ic" title="Login with Twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="uf-social-ic" title="Login with Google"><i class="fab fa-google"></i></a>
                        </div>  -->

    <!--  <div class="mt-4 text-center">
                    <span class="text-white">Don't have an account?</span>
                    <a href="#">Sign Up</a>
                </div>  -->
</html>
